@font-face {
    font-family: codel;
    src: url(../fonts/CODE_Light.otf);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 400px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}


.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }

#first{
  background-color: #ecf0f1;
}

#second{
  background-color: #9b59b6;
}

#third{
  background-color: #2ecc71;
}

#fourth{
  background-color: #1abc9c;
}

#fith{
  background-color: #95a5a6;
}

#gradient{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

.bold{
  font-weight: bold;
}

.skills{

}

#html{
  background-color:#0f8bca;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 25px;


}

#css{
  background-color:#2ecc71;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 25px;
}

#php{
  background-color: #f1c40f;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 25px;
}

#js{
  background-color:#e67e22;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 25px;
}

#jq{
  background-color:#89C4F4;
  padding-right: 5px;
  padding-left: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 25px;
}

#pizza{
  background-color:#e74c3c;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 25px;
}

h5 {
  display: inline;
 margin: 0 auto;
 padding-left: -20px 
}

ul {
  list-style-type:circle;
}

img {
}

#name {

font-family: codel,"Helvetica Neue", Helvetica, Arial, sans-serif;
}